/**
 * @name Midnight-Zero
 * @description A dark, rounded discord theme.
 * @author Endsouls
 * @version 1.0
 * @invite nz87hXyvcy
 * @website https://github.com/Htbatmann/midnight-zero
 * @source https://github.com/Htbatmann/midnight-zero/midnight-zero.theme.css

*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');


/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'figtree';

	/* top left corner text */
	--corner-text: 'Midnight';

	/* color of status indicators and window controls */
	--online-indicator: var(--accent-2); /* change to #23a55a for default green */
	--dnd-indicator: hsl(340, 60%, 60%); /* change to #f13f43 for default red */
	--idle-indicator: hsl(50, 60%, 60%); /* change to #f0b232 for default yellow */
	--streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: hsl(190, 70%, 60%); /* links */
	--accent-2: hsl(190, 70%, 48%); /* general unread/mention elements */
	--accent-3: hsl(190, 70%, 42%); /* accent buttons */
	--accent-4: hsl(190, 70%, 36%); /* accent buttons when hovered */
	--accent-5: hsl(190, 70%, 30%); /* accent buttons when clicked */
	--mention: hsla(190, 80%, 52%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(190, 80%, 52%, 0.05); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: white; /* text on colored elements */
	--text-1: var(--text-2); /* other normally white text */
	--text-2: hsl(220, 25%, 70%); /* headings and important text */
	--text-3: hsl(220, 15%, 60%); /* normal text */
	--text-4: hsl(220, 15%, 40%); /* icon buttons and channels */
	--text-5: hsl(220, 15%, 25%); /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: hsl(220, 15%, 20%); /* dark buttons when clicked */
	--bg-2: hsl(220, 15%, 16%); /* dark buttons */
	--bg-3: hsl(220, 15%, 13%); /* spacing, secondary elements */
	--bg-4: hsl(220, 15%, 10%); /* main background color */
	--hover: hsla(230, 20%, 40%, 0.1); /* channels and buttons when hovered */
	--active: hsla(220, 20%, 40%, 0.2); /* channels and buttons when clicked or selected */
	--message-hover: hsla(220, 0%, 0%, 0.1); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: block; /* moon icon */
	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */
}

[class*=channelTextAreaDisabled] {
    display: none!important;
}

/* or if it doesn't work like because of themes: */
[class*=channelTextAreaDisabled] {
    opacity: 0!important;
    position: absolute!important;
    height: 0px!important;
    width: 0px!important;
    z-index: 0!important;
}

/*--- Icon Recolor---*/
.icon_d8bfb3:has(path[d^="M18.5 23c.88"]) path[d^="M18.5 23c.88"] {
    color: var(--green-360) !important;
    border: 1px solid rebeccapurple !important;
}


[class^="positionContainer_"] {
	height: calc(100vh - 180px);
  }

  [aria-label="Mute"] [aria-hidden="true"],
[aria-label="Deafen"] [aria-hidden="true"]{
  opacity: 0.4;
}

:root {
    --dm-columns: 4;
}

[class^=privateChannels_] [class^=content_] {
    display: grid;
    height: unset !important;
    grid-template-columns: repeat(var(--dm-columns), 1fr);

    &> * {
        overflow: hidden;
        grid-column: 1 / calc(var(--dm-columns) + 1);
    }
}

[class^=channel_]:has(
    [href="/channels/@me"],
    [href="/library"],
    [href="/shop"],
    [href="/store"],
    [href="/family-center"],
    [href="/message-requests"]
) {
    grid-column: auto;

    [class*="linkButton"] {
        padding-right: 0;
    }
 
    [class*="link_"] {
        justify-content: center;
        gap: 0;
    }

    [class*="avatar_"] {
        margin: 0;
        width: unset;
    }

    [class*="avatarWithText_"] {
        flex-grow: unset;
    }
    
    [class*="content_"] {
        display: none;
    }
}

.appLauncherOnboardingCommandName_f9f2ca.clickable_f9f2ca {
    background: 0 0;
    padding-left: 0;
}

.appsIcon_f9f2ca {
  display: none;
}

.executedCommand_f9f2ca .appLauncherOnboardingCommandName_f9f2ca:hover {
    background: 0 0;
}




  /*discord loading page*/
.container_e40c16.fixClipping_c7e9c6{
    background: 0 0;
    backdrop-filter: blur(5px);
}


[class*=containerDefault_][data-dnd-name]:hover+[class*=container_]:has([class*=spineBorder_]),
[class*=containerDefault_][data-dnd-name]+[class*=container_]:has([class*=spineBorder_], li[class*=container_]):hover {
    max-height: max-content;
    transition: max-height 1s ease;
}

[class*=expandedFolderBackground_]~[class*=listItem_]:nth-child(2)>div:before {
    content: attr(data-dnd-name);
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1px;
    font-size: 10px;
    color: #ffffff;
    z-index: 1;
    pointer-events: none;
    width: 38px;
    max-height: 27px;
    text-align: center;
    margin-left: -0.7px;
    overflow: hidden;
    letter-spacing: -0.2px;
    line-height: 0.9;
}

[class*=expandedFolderIconWrapper_] svg {
    width: 48px;
    height: 48px;
}

[class*=folderIconWrapper_],
[class*=folder_],
[class*=collapsed_] {
    background: none !important;
}
/* Reactions Hover */
[class^=reaction_]:not(:has(.burstGlow_ec6b19)) .emoji {
  transition: transform 0.5s ease;
}
[class^=reaction_]:not(:has(.burstGlow_ec6b19)):hover .emoji {
  transform: translateY(-10px) scale(1.5);
}
[class*=guildSection_] img[class*=otherEmoji_] {
  transition: transform .2s ease;
  &:hover {
    transform: scale(2);
  }
}

/*Detailed Timestamps */
/* "(edited)" text timestamps */
span[class*="timestamp_"] time::before {
    content: '✎ ' attr(aria-label);
    font-size: 0.625rem;
    font-weight: 400;
}

/* message header timestamps */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 0.75rem;
  font-weight: 500;
}

/* header-less multi-line hover timestamps */
span[class*="timestampVisibleOnHover_"] time::before {
  content: attr(aria-label);
  position: absolute;
  font-size: 0.6rem;
  line-height: 0.85rem;
  width: 65px;
  left: -1px;
  top: -2px;
}

/* hide the old timestamps */
span[class*="timestampInline_"], span[class*="timestampVisibleOnHover_"] {
  font-size: 0rem !important;
}
span[class*="edited_"] {
    position: relative;
    right: 95px;
    color: transparent;
}

/* Mute Channel List Emojis */
[class*="modeMuted_"]:has([class^="icon_"]) [class^="name_"] {
    color: var(--channel-icon);
    opacity: 100%;
}

/* ShowHiddenThings / Mod View / Remove actions like Kick, Ban, and Timeout if disabled due to insufficient permissions. */
[class^=guildSidebar_] [class^=bottomRow_]:has([class*=bottomRowActionDisabled_]) [class*=bottomRowActionDisabled_] {
  display: none;
}

/* merge app launcher to be part of the chat bar */
[class^=channelTextArea_] > [class^=scrollableContainer_] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
[class^=channelAppLauncher_] {
    margin-left: 0;
    min-width: 44px;
    background: var(--bg-overlay-3, var(--channeltextarea-background));;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    [class^=buttonContainer_] {
        top: 0;
        position:absolute;
    }
}

/*     Modernized audio attachments      */
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioMetadata"] {
  margin-bottom: 24px;
}
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioControls"] {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 0px 8px 8px;
}

/* Don't show me activity */
[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
  display: none;
}
