/**
 * @name Midnight-Zero
 * @description A dark, rounded discord theme.
 * @author Endsouls
 * @version 1.0
 * @invite nz87hXyvcy
 * @website https://github.com/Htbatmann/midnight-zero
 * @source https://github.com/Htbatmann/midnight-zero/midnight-zero.theme.css
 */

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");

/* Customize things here */
:root {
	--rs-small-spacing: 2px;
	--rs-medium-spacing: 3px;
	--rs-large-spacing: 4px;
	--rs-small-width: 2px;
	--rs-medium-width: 3px;
	--rs-large-width: 4px;
	--rs-avatar-shape: 50%;
	--rs-online-color: #43b581;
	--rs-idle-color: #faa61a;
	--rs-dnd-color: #f04747;
	--rs-offline-color: #636b75;
	--rs-streaming-color: #643da7;
	--rs-invisible-color: #747f8d;
	--rs-phone-color: var(--rs-online-color);
	--rs-phone-visible: block;
	--font: 'figtree';
	--corner-text: 'Midnight';
	--online-indicator: var(--accent-2);
	--dnd-indicator: hsl(340, 60%, 60%);
	--idle-indicator: hsl(50, 60%, 60%);
	--streaming-indicator: hsl(260, 60%, 60%);
	--accent-1: hsl(190, 70%, 60%);
	--accent-2: hsl(190, 70%, 48%);
	--accent-3: hsl(190, 70%, 42%);
	--accent-4: hsl(190, 70%, 36%);
	--accent-5: hsl(190, 70%, 30%);
	--mention: hsla(190, 80%, 52%, 0.1);
	--mention-hover: hsla(190, 80%, 52%, 0.05);
	--text-0: white;
	--text-1: var(--text-2);
	--text-2: hsl(220, 25%, 70%);
	--text-3: hsl(220, 15%, 60%);
	--text-4: hsl(220, 15%, 40%);
	--text-5: hsl(220, 15%, 25%);
	--bg-1: hsl(220, 15%, 20%);
	--bg-2: hsl(220, 15%, 16%);
	--bg-3: hsl(220, 15%, 13%);
	--bg-4: hsl(220, 15%, 10%);
	--hover: hsla(230, 20%, 40%, 0.1);
	--active: hsla(220, 20%, 40%, 0.2);
	--message-hover: hsla(220, 0%, 0%, 0.1);
	--spacing: 12px;
	--list-item-transition: 0.2s ease;
	--unread-bar-transition: 0.2s ease;
	--moon-spin-transition: 0.4s ease;
	--icon-spin-transition: 1s ease;
	--roundness-xl: 22px;
	--roundness-l: 20px;
	--roundness-m: 16px;
	--roundness-s: 12px;
	--roundness-xs: 10px;
	--roundness-xxs: 8px;
	--discord-icon: none;
	--moon-icon: block;
	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg');
	--moon-icon-size: auto;
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2);
}

[class*=channelTextAreaDisabled] {
	display: none !important;
}

/* If it doesn't work due to themes */
[class*=channelTextAreaDisabled] {
	opacity: 0 !important;
	position: absolute !important;
	height: 0px !important;
	width: 0px !important;
	z-index: 0 !important;
}

/* Icon Recolor */
.icon_d8bfb3:has(path[d^="M18.5 23c.88"]) path[d^="M18.5 23c.88"] {
	color: var(--green-360) !important;
	border: 1px solid rebeccapurple !important;
}

[class^="positionContainer_"] {
	height: calc(100vh - 180px);
}

[aria-label="Mute"] [aria-hidden="true"],
[aria-label="Deafen"] [aria-hidden="true"] {
	opacity: 0.4;
}

:root {
	--dm-columns: 4;
}

[class^=privateChannels_] [class^=content_] {
	display: grid;
	height: unset !important;
	grid-template-columns: repeat(var(--dm-columns), 1fr);

	&> * {
		overflow: hidden;
		grid-column: 1 / calc(var(--dm-columns) + 1);
	}
}

[class^=channel_]:has(
	[href="/channels/@me"],
	[href="/library"],
	[href="/shop"],
	[href="/store"],
	[href="/family-center"],
	[href="/message-requests"]
) {
	grid-column: auto;

	[class*="linkButton"] {
		padding-right: 0;
	}

	[class*="link_"] {
		justify-content: center;
		gap: 0;
	}

	[class*="avatar_"] {
		margin: 0;
		width: unset;
	}

	[class*="avatarWithText_"] {
		flex-grow: unset;
	}

	[class*="content_"] {
		display: none;
	}
}

.appLauncherOnboardingCommandName_f9f2ca.clickable_f9f2ca {
	background: 0 0;
	padding-left: 0;
}

.appsIcon_f9f2ca {
	display: none;
}

.executedCommand_f9f2ca .appLauncherOnboardingCommandName_f9f2ca:hover {
	background: 0 0;
}

/* Discord loading page */
.container_e40c16.fixClipping_c7e9c6 {
	background: 0 0;
	backdrop-filter: blur(5px);
}

[class*=containerDefault_][data-dnd-name]:hover+[class*=container_]:has([class*=spineBorder_]),
[class*=containerDefault_][data-dnd-name]+[class*=container_]:has([class*=spineBorder_], li[class*=container_]):hover {
	max-height: max-content;
	transition: max-height 1s ease;
}

[class*=expandedFolderBackground_]~[class*=listItem_]:nth-child(2)>div:before {
	content: attr(data-dnd-name);
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
	padding: 1px;
	font-size: 10px;
	color: #ffffff;
	z-index: 1;
	pointer-events: none;
	width: 38px;
	max-height: 27px;
	text-align: center;
	margin-left: -0.7px;
	overflow: hidden;
	letter-spacing: -0.2px;
	line-height: 0.9;
}

[class*=expandedFolderIconWrapper_] svg {
	width: 48px;
	height: 48px;
}

[class*=folderIconWrapper_],
[class*=folder_],
[class*=collapsed_] {
	background: none !important;
}

/* Reactions Hover */
[class^=reaction_]:not(:has(.burstGlow_ec6b19)) .emoji {
	transition: transform 0.5s ease;
}
[class^=reaction_]:not(:has(.burstGlow_ec6b19)):hover .emoji {
	transform: translateY(-10px) scale(1.5);
}

img[class="emoji otherEmoji_e58351"]:hover {
	transform: scale(2);
}

/* "(edited)" text timestamps */
span[class*="timestamp_"] time::before {
    content: '✎ ' attr(aria-label);
    font-size: 0.625rem;
    font-weight: 400;
}

/* message header timestamps */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 0.75rem;
  font-weight: 500;
}

/* header-less multi-line hover timestamps */
span[class*="timestampVisibleOnHover_"] time::before {
  content: attr(aria-label);
  position: absolute;
  font-size: 0.6rem;
  line-height: 0.85rem;
  width: 65px;
  left: -1px;
  top: -2px;
}

/* hide the old timestamps */
span[class*="timestampInline_"], span[class*="timestampVisibleOnHover_"] {
  font-size: 0rem !important;
}
span[class*="edited_"] {
    position: relative;
    right: 95px;
    color: transparent;
}
/* Remove useless tabs from app homepage */
.channel_c91bad:nth-child(2)[aria-posinset="1"] {
  top: 0px;
  position: fixed;
  z-index: 10000;
  background: var(--bg-overlay-3, var(--background-secondary));
  width: 14rem;
  height: 3.7rem;
}
.channel_c91bad:nth-child(2) > div {
  margin-top: 13px;
  width: 2.5rem;
  height: 2rem;
  background: var(--background-tertiary);
  padding-left: 0;
  margin-left: 6px;
  margin-right: 0;
}
.channel_c91bad:nth-child(2) > div > a > div > div.avatar_f9647d > svg.linkButtonIcon_c91bad {
  left: 5.8rem;
  position: fixed;
}
.channel_c91bad:nth-child(2) > div > a > div > div.content_f9647d {
  display: none;
}
.channel_c91bad:nth-child(3) {
  display: none;
}
.channel_c91bad:nth-child(4) {
  display: none;
}

.privateChannelsHeaderContainer_c47fa9 {
  margin-top: 4px;
  padding-top: 13.5px;
  height: 2rem;
  margin-bottom: 10px;
}

.privateChannelsHeaderContainer_c47fa9 > .headerText_c47fa9 {
  color: #b9b9b9;
}

.privateChannels_f0963d {
  background: rgba(0,0,0,0) !important;
}

.searchBar_f0963d {
  background: none !important;
  left: 7.15rem;
  z-index: 20000;
  top: 4px;
  box-shadow: none;
  position: fixed;
}

.searchBar_f0963d > button {
  visibility: hidden;
}
.searchBar_f0963d > button:after {
  content: "Find/start a conversation";
  visibility: visible;
  display: block;
  position: absolute;
  border-radius: 4px;
  background-color: var(--background-tertiary);
  color: #dddddd;
  padding-left: .5rem;
  padding-right: .5rem;
  line-height: 2rem;
  top: 11px;
}

.listItem_c96c45:nth-child(3) {
  margin-top: 11.5px;
}
/* --- */
[class*="modeMuted_"]:has([class^="icon_"]) [class^="name_"] {
    color: var(--channel-icon);
    opacity: 40%;
}
/* ShowHiddenThings / Mod View / Remove actions like Kick, Ban, and Timeout if disabled due to insufficient permissions. */
[class^=guildSidebar_] [class^=bottomRow_]:has([class*=bottomRowActionDisabled_]) [class*=bottomRowActionDisabled_] {
  display: none;
}

[class*=buttonContainer] > [class*=buttons_] {
    transform: translateY(-50%);
}

.tagsContainer_a6d69a{gap:16px;align-items:flex-start}.tagsContainer_a6d69a .divider_a6d69a{display:none}.tagsContainer_a6d69a .tagList_a6d69a{height:auto;max-height:32px;transition:max-height .2s ease}.tagsContainer_a6d69a .tagList_a6d69a:is(:hover,:has(.selected_c993da)){max-height:256px}.tagsContainer_a6d69a .tagList_a6d69a .tagListInner_a6d69a{justify-content:center}.tagsContainer_a6d69a .tagsButton_a6d69a{position:static;margin-left:0}.tagsButtonPlaceholder_a6d69a{display:none}.tagsContainer_c1668f{align-items:flex-start}.tagsContainer_c1668f .tagsIcon_c1668f{height:24px}.tagsContainer_c1668f .tagList_c1668f{height:auto;max-height:24px;transition:max-height .2s ease}.tagsContainer_c1668f .tagList_c1668f:is(:hover,:has(.selected_c993da)){max-height:192px}.tagsContainer_c1668f .tagsButton_c1668f{position:static;margin-left:0}.tagsButtonPlaceholder_c1668f{display:none}.scrollerInner_e2e187{overflow:unset}.scrollerInner_e2e187 .divider_af45f8{display:none}.scrollerInner_e2e187 .container_b385c8{box-shadow:var(--elevation-low);border-top-color:rgba(0,0,0,0)}.popout_a15d29{height:calc(18px + var(--custom-forum-composer-attachments-attachment-size) + 24px)}.popout_a15d29 .uploadContainer_df1eaf .imageSmall_f847a3{border-radius:12px 12px 0 0}.popout_a15d29 .uploadContainer_df1eaf .imageSmall_f847a3 .spoilerContainer_a3d0f7{border-radius:12px 12px 0 0}.popout_a15d29 .uploadContainer_df1eaf .actionBarContainer_df1eaf{top:unset;bottom:0}.popout_a15d29 .uploadContainer_df1eaf .actionBarContainer_df1eaf .smallActionBar_df1eaf{transform:none;opacity:1}.popout_a15d29 .uploadContainer_df1eaf .actionBarContainer_df1eaf .smallActionBar_df1eaf .wrapper_ef319f{border-radius:0 0 12px 12px}.imageSmall_f847a3.icon_f847a3{background-color:var(--background-primary);background-size:60%}.imageSmall_f847a3 .spoilerContainer_a3d0f7{border-radius:12px}.imageSmall_f847a3 .spoilerContainer_a3d0f7 .spoilerWarning_a3d0f7{zoom:.7}.mainCard_a6d69a:hover{transform:none}.mainCard_a6d69a .imageCover_a57509{object-fit:contain;background:var(--background-secondary)}:is(.mediaIconsRow_a57509,.tagsRow_a57509){transition:opacity .2s}.postBody_a57509:hover :is(.mediaIconsRow_a57509,.tagsRow_a57509){opacity:0}:is(.mediaIconsRow_a57509,.tagsRow_a57509) .mediaIcon_a57509{background-image:url("https://discord.com/assets/c5a74fc51ff67682b11a.svg");height:22px}:is(.mediaIconsRow_a57509,.tagsRow_a57509) .mediaIcon_a57509 path{fill:rgba(0,0,0,0)}.thumbnailContainer_d331f1 .loadingOverlay_d4597d{display:flex;align-items:center;justify-content:center}.thumbnailContainer_d331f1 .altText_cf58b5{position:absolute;z-index:-1}.previewForm_c1668f{padding:0;margin:1px 12px 0 0;border:0;outline:2px solid var(--background-modifier-selected);border-radius:var(--radius-xs);width:calc(100% - 24px - 78px - 24px)}.previewForm_c1668f .contentContainer_c1668f{width:100%}.previewForm_c1668f .previewModeIndicator_c1668f{position:absolute;pointer-events:none;bottom:4px;right:4px}

