/**
 * @name Midnight-Zero
 * @description A dark, rounded discord theme.
 * @author Endsouls
 * @version 1.0
 * @invite nz87hXyvcy
 * @website https://github.com/Htbatmann/midnight-zero
 * @source https://github.com/Htbatmann/midnight-zero/midnight-zero.theme.css

*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://minidiscordthemes.github.io/SettingsIcons/SettingsIcons.theme.css');
@import url('https://refact0r.github.io/midnight-discord/midnight.css');
/*--- Icon Recolor---*/
.icon_d8bfb3:has(path[d^="M18.5 23c.88"]) path[d^="M18.5 23c.88"] {
    color: var(--green-360) !important;
    border: 1px solid rebeccapurple !important;
}


[class^="positionContainer_"] {
	height: calc(100vh - 180px);
  }

  [aria-label="Mute"] [aria-hidden="true"],
[aria-label="Deafen"] [aria-hidden="true"]{
  opacity: 0.4;
}

:root {
    --dm-columns: 4;
}

[class^=privateChannels_] [class^=content_] {
    display: grid;
    height: unset !important;
    grid-template-columns: repeat(var(--dm-columns), 1fr);

    &> * {
        overflow: hidden;
        grid-column: 1 / calc(var(--dm-columns) + 1);
    }
}


.appLauncherOnboardingCommandName_f9f2ca.clickable_f9f2ca {
    background: 0 0;
    padding-left: 0;
}

.appsIcon_f9f2ca {
  display: none;
}

.executedCommand_f9f2ca .appLauncherOnboardingCommandName_f9f2ca:hover {
    background: 0 0;
}




  /*discord loading page*/
.container_e40c16.fixClipping_c7e9c6{
    background: 0 0;
    backdrop-filter: blur(5px);
}


[class*=containerDefault_][data-dnd-name]:hover+[class*=container_]:has([class*=spineBorder_]),
[class*=containerDefault_][data-dnd-name]+[class*=container_]:has([class*=spineBorder_], li[class*=container_]):hover {
    max-height: max-content;
    transition: max-height 1s ease;
}

[class*=expandedFolderBackground_]~[class*=listItem_]:nth-child(2)>div:before {
    content: attr(data-dnd-name);
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1px;
    font-size: 10px;
    color: #ffffff;
    z-index: 1;
    pointer-events: none;
    width: 38px;
    max-height: 27px;
    text-align: center;
    margin-left: -0.7px;
    overflow: hidden;
    letter-spacing: -0.2px;
    line-height: 0.9;
}

[class*=expandedFolderIconWrapper_] svg {
    width: 48px;
    height: 48px;
}

[class*=folderIconWrapper_],
[class*=folder_],
[class*=collapsed_] {
    background: none !important;
}
/* Reactions Hover */
[class^=reaction_]:not(:has(.burstGlow_ec6b19)) .emoji {
  transition: transform 0.5s ease;
}
[class^=reaction_]:not(:has(.burstGlow_ec6b19)):hover .emoji {
  transform: translateY(-10px) scale(1.5);
}
[class*=guildSection_] img[class*=otherEmoji_] {
  transition: transform .2s ease;
  &:hover {
    transform: scale(2);
  }
}

/*Detailed Timestamps */
/* "(edited)" text timestamps */
span[class*="timestamp_"] time::before {
    content: '✎ ' attr(aria-label);
    font-size: 0.625rem;
    font-weight: 400;
}

/* message header timestamps */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 0.75rem;
  font-weight: 500;
}

/* header-less multi-line hover timestamps */
span[class*="timestampVisibleOnHover_"] time::before {
  content: attr(aria-label);
  position: absolute;
  font-size: 0.6rem;
  line-height: 0.85rem;
  width: 65px;
  left: -1px;
  top: -2px;
}

/* hide the old timestamps */
span[class*="timestampInline_"], span[class*="timestampVisibleOnHover_"] {
  font-size: 0rem !important;
}
span[class*="edited_"] {
    position: relative;
    right: 95px;
    color: transparent;
}

/* Mute Channel List Emojis */
[class*="modeMuted_"]:has([class^="icon_"]) [class^="name_"] {
    color: var(--channel-icon);
    opacity: 100%;
}

/* ShowHiddenThings / Mod View / Remove actions like Kick, Ban, and Timeout if disabled due to insufficient permissions. */
[class^=guildSidebar_] [class^=bottomRow_]:has([class*=bottomRowActionDisabled_]) [class*=bottomRowActionDisabled_] {
  display: none;
}

/* merge app launcher to be part of the chat bar */
[class^=channelTextArea_] > [class^=scrollableContainer_] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
[class^=channelAppLauncher_] {
    margin-left: 0;
    min-width: 44px;
    background: var(--bg-overlay-3, var(--channeltextarea-background));;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    [class^=buttonContainer_] {
        top: 0;
        position:absolute;
    }
}

/*     Modernized audio attachments      */
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioMetadata"] {
  margin-bottom: 24px;
}
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioControls"] {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 0px 8px 8px;
}

/* Don't show me activity */
[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
  display: none;
}

/* Better Pickers */

[class^=lockedEmoji_]:has(+[class*=emojiLockIconContainer_]),
[class*=categorySectionNitroLocked_] [class*=emojiItem_]>img,
[class*=soundRowNitroLocked_] [class^=soundButton_] {
  filter: grayscale(1) brightness(0.75);
}

[class^=emojiLockIconContainer_],
[class^=picker_] [class^=sectionFooter_],
:is(#emoji-picker-tab-panel, [class^=picker_]) :is(
  [class^=upsellContainer_],
  [class^=nitroBottomDivider_],
  [class^=categoryItemLockIconContainer_]
) {
  display: none;
}

#emoji-picker-tab-panel [class*=categorySectionNitroLocked_],
[class^=picker_] :is(
  [class*=sectionContainerNitroLocked_],
  [class*=soundRowNitroLocked_]
) {
  background-color: transparent;
}

#emoji-picker-tab-panel [class^=closeButton_] {
  padding: 16px 16px calc(100% - 106px) calc(100% - 40px);
  margin: 0;
}
[class^=picker_] {
  >[class^=container] [class^=closeButton_] {
    padding: 16px 16px calc(420px - 106px) calc(100% - 40px);
    margin: 0;
  }

  [class^=buttonOverlayActions_] {
    padding: 0;
  }
  [class^=secondaryButton_] {
    padding: 8px;
  }
}

#emoji-picker-tab-panel, [class^=picker_] {
  [class^=nitroTopDividerShadow_],
  [class^=nitroTopDividerLower_] {
    visibility: hidden;
  }
  [class^=nitroTopDividerLock],
  [class^=nitroTopDividerLower_] {
    background: var(--background-accent);
  }
}
